In [3]:
import numpy as np
import matplotlib as plt
import scipy.stats as st

In [9]:
x = [48, 84, 21, 63, 219, 133, 327, 213, 118, 171, 356, 117,
175, 163, 230, 135, 18, 116, 174, 384, 100, 60, 327, 48, 410]
x = np.sort(x)
print(x)
range_x = x.max() - x.min()
print(range_x)

[ 18  21  48  48  60  63  84 100 116 117 118 133 135 163 171 174 175 213
 219 230 327 327 356 384 410]
392

In [19]:
y = np.array([0, 2, 4, 8 ,10])
np.median(y)

4.0

In [17]:
import pandas as pd
df = pd.DataFrame([6, 7, 15, 36, 39, 40, 41, 42, 43, 47, 49])
df.

     0
0    6
1    7
2   15
3   36
4   39
5   40
6   41
7   42
8   43
9   47
10  49